body{
    margin:0;
    background:grey;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    font-family: Arial;
}
.app{
    background:#1e1e1e ;
    width:320px;
    padding:20px;
    border-radius: 10px;
    color:white;
}
.input-box{
    display:flex;
    gap:10px;
}
input{
    flex:1;
    padding:10px;
    border: none;
    border-radius: 5px;
}
button{
    background:rgb(100, 100, 109);
    border:none;
    color:black;
    padding:10px;
    border-radius:5px;
}
li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#7a7272;
    padding:8px;
    margin-bottom:8px;
    border-radius:5px;
}

li button{
    background:red;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
